In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("train_upd.csv")
df.head()89

,cell_name,4G_rat,par_year,par_month,par_day,par_hour,par_min,subscriber_count,web_browsing_total_bytes,video_total_bytes,...,email_total_bytes,weather_total_bytes,media_total_bytes,mms_total_bytes,others_total_bytes,beam_direction,cell_range,tilt,ran_vendor,Congestion_Type
0,1090595862,1,2018,12,15,0,50,152,315,59012,...,10,33,46,39,103,69,6,2,ERICSSON,4G_BACKHAUL_CONGESTION
1,4826375369,1,2018,12,7,20,5,54,1871,334,...,22,20,7,10,21,93,7,5,NOKIA,NC
2,3607540856,1,2018,12,5,16,35,277,887,945,...,14,91,49,147,159,77,6,3,ERICSSON,3G_BACKHAUL_CONGESTION
3,1245076813,0,2018,12,16,21,60,51,8577,494,...,10,63,42,75,35,95,7,2,HUAWEI,3G_BACKHAUL_CONGESTION
4,404129745,1,2018,12,4,6,60,117,2084,1056,...,67,59,91,197,316,112,3,5,HUAWEI,4G_RAN_CONGESTION

In [3]:
df['Congestion_Type'].unique()

array(['4G_BACKHAUL_CONGESTION', 'NC', '3G_BACKHAUL_CONGESTION',
       '4G_RAN_CONGESTION'], dtype=object)

In [4]:
df.head()

,cell_name,4G_rat,par_year,par_month,par_day,par_hour,par_min,subscriber_count,web_browsing_total_bytes,video_total_bytes,...,email_total_bytes,weather_total_bytes,media_total_bytes,mms_total_bytes,others_total_bytes,beam_direction,cell_range,tilt,ran_vendor,Congestion_Type
0,1090595862,1,2018,12,15,0,50,152,315,59012,...,10,33,46,39,103,69,6,2,ERICSSON,4G_BACKHAUL_CONGESTION
1,4826375369,1,2018,12,7,20,5,54,1871,334,...,22,20,7,10,21,93,7,5,NOKIA,NC
2,3607540856,1,2018,12,5,16,35,277,887,945,...,14,91,49,147,159,77,6,3,ERICSSON,3G_BACKHAUL_CONGESTION
3,1245076813,0,2018,12,16,21,60,51,8577,494,...,10,63,42,75,35,95,7,2,HUAWEI,3G_BACKHAUL_CONGESTION
4,404129745,1,2018,12,4,6,60,117,2084,1056,...,67,59,91,197,316,112,3,5,HUAWEI,4G_RAN_CONGESTION

In [5]:
df['ran_vendor'].unique().tolist()

['ERICSSON', 'NOKIA', 'HUAWEI']

In [6]:
df['ran_vendor'].replace(['ERICSSON', 'NOKIA', 'HUAWEI'], [0, 1, 2], inplace=True)

In [7]:
df['par_day'].replace([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22,
                       23, 24, 25, 26, 27, 28, 29, 30, 31], [6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5,
                       6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1], inplace=True)
df.head()

,cell_name,4G_rat,par_year,par_month,par_day,par_hour,par_min,subscriber_count,web_browsing_total_bytes,video_total_bytes,...,email_total_bytes,weather_total_bytes,media_total_bytes,mms_total_bytes,others_total_bytes,beam_direction,cell_range,tilt,ran_vendor,Congestion_Type
0,1090595862,1,2018,12,6,0,50,152,315,59012,...,10,33,46,39,103,69,6,2,0,4G_BACKHAUL_CONGESTION
1,4826375369,1,2018,12,5,20,5,54,1871,334,...,22,20,7,10,21,93,7,5,1,NC
2,3607540856,1,2018,12,3,16,35,277,887,945,...,14,91,49,147,159,77,6,3,0,3G_BACKHAUL_CONGESTION
3,1245076813,0,2018,12,0,21,60,51,8577,494,...,10,63,42,75,35,95,7,2,2,3G_BACKHAUL_CONGESTION
4,404129745,1,2018,12,2,6,60,117,2084,1056,...,67,59,91,197,316,112,3,5,2,4G_RAN_CONGESTION

In [8]:
df.Congestion_Type.replace(['NC', '4G_RAN_CONGESTION', '3G_BACKHAUL_CONGESTION',
       '4G_BACKHAUL_CONGESTION'], [0, 1, 2, 3], inplace=True)

In [9]:
X = df.drop(['cell_name', 'par_year', 'par_month', 'par_min', 'Congestion_Type'],axis=1).values
y = df['Congestion_Type'].values

from sklearn.model_selection import train_test_split

X_train,X_val,y_train,y_val=train_test_split(X,y,test_size=0.25)

**XGBoost**

In [10]:
from xgboost import XGBClassifier
XG = XGBClassifier()
XG.fit(X_train, y_train)
y_pred = XG.predict(X_val)

C:\Users\Amartya Sen\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [11]:
y_pred

array([1, 0, 0, ..., 2, 0, 1], dtype=int64)

In [12]:
from sklearn.metrics import matthews_corrcoef
print(matthews_corrcoef(y_val, y_pred))

0.6651911697213408

**DECISION TREE**

In [13]:
from sklearn.tree import DecisionTreeClassifier
DT = DecisionTreeClassifier()
DT.fit(X_train, y_train)
y_pred = DT.predict(X_val)
p = pd.DataFrame({
    'Actual':y_val,
    'Predicted':y_pred
})
p.head()
from sklearn.metrics import matthews_corrcoef
print(matthews_corrcoef(y_val, y_pred))

0.40790479748266323

**RANDOM FOREST**

In [14]:
from sklearn.ensemble import RandomForestClassifier
RF = RandomForestClassifier(n_estimators=500)
RF.fit(X_train, y_train)
y_pred = RF.predict(X_val)

from sklearn.metrics import matthews_corrcoef
print(matthews_corrcoef(y_val, y_pred))

C:\Users\Amartya Sen\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

0.679041407995339

In [15]:
RF.set_params()

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=500, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

**Extra Trees Classifier**

In [16]:
from sklearn.ensemble import ExtraTreesClassifier
ETF = ExtraTreesClassifier()
ETF.fit(X_train, y_train)
y_pred = ETF.predict(X_val)

from sklearn.metrics import matthews_corrcoef
print(matthews_corrcoef(y_val, y_pred))

0.5649017659523755

**NAIVE BAYES**

In [17]:
from sklearn.naive_bayes import GaussianNB
lel = GaussianNB()
lel.fit(X_train, y_train)
y_pred = lel.predict(X_val)

from sklearn.metrics import matthews_corrcoef
print(matthews_corrcoef(y_val, y_pred))

0.6601986568199676

**Nearest Neighbours**

In [18]:
from sklearn.neighbors import KNeighborsClassifier
NN = KNeighborsClassifier()
NN.fit(X_train, y_train)
y_pred = NN.predict(X_val)

from sklearn.metrics import matthews_corrcoef
print(matthews_corrcoef(y_val, y_pred))

0.26293305026067393

**SGD**

In [19]:
from sklearn.linear_model import SGDClassifier
SGD = SGDClassifier()
SGD.fit(X_train, y_train)
y_pred = SGD.predict(X_val)

from sklearn.metrics import matthews_corrcoef
print(matthews_corrcoef(y_val, y_pred))

C:\Users\Amartya Sen\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.stochastic_gradient.SGDClassifier'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)

0.2132259212673683

**MLP**

In [20]:
from sklearn.neural_network import MLPClassifier
MLP = MLPClassifier()
MLP.fit(X_train, y_train)
y_pred = MLP.predict(X_val)

from sklearn.metrics import matthews_corrcoef
print(matthews_corrcoef(y_val, y_pred))

0.5583257400009892

In [21]:
df.head()

,cell_name,4G_rat,par_year,par_month,par_day,par_hour,par_min,subscriber_count,web_browsing_total_bytes,video_total_bytes,...,email_total_bytes,weather_total_bytes,media_total_bytes,mms_total_bytes,others_total_bytes,beam_direction,cell_range,tilt,ran_vendor,Congestion_Type
0,1090595862,1,2018,12,6,0,50,152,315,59012,...,10,33,46,39,103,69,6,2,0,3
1,4826375369,1,2018,12,5,20,5,54,1871,334,...,22,20,7,10,21,93,7,5,1,0
2,3607540856,1,2018,12,3,16,35,277,887,945,...,14,91,49,147,159,77,6,3,0,2
3,1245076813,0,2018,12,0,21,60,51,8577,494,...,10,63,42,75,35,95,7,2,2,2
4,404129745,1,2018,12,2,6,60,117,2084,1056,...,67,59,91,197,316,112,3,5,2,1

In [22]:
RF.feature_importances_

array([0.00271343, 0.00876331, 0.01373106, 0.02828298, 0.02356619,
       0.02420191, 0.02389043, 0.02789616, 0.03568078, 0.0362252 ,
       0.03834362, 0.02468386, 0.05236366, 0.04978304, 0.04321384,
       0.04136589, 0.04525709, 0.03454637, 0.04329903, 0.03609975,
       0.02372189, 0.03454461, 0.03546795, 0.03409661, 0.03369149,
       0.03498075, 0.03506937, 0.03288848, 0.03449808, 0.03240474,
       0.01568315, 0.00823042, 0.0061576 , 0.00465727])